.home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 115px;
  overflow: auto;
  justify-content: space-between;

  &_feature {
    width: 100%;
  }

  &_tiles {
    @media (max-width: 1023px) {
      width: 100%;
    }
    width: 32.4%;
  }
}
