.tile {
  margin-top: 15px;
  position: relative;

  &:hover .tile_overlay {
    opacity: 0.9;
  }

  &:hover .tile_description {
    opacity: 1;
  }

  &_image-wrapper {
    overflow: hidden;
  }

  &_image {
    width: 100%;
  }

  &_description {
    font-size: 14px;
    font-weight: 500;
    font-family: 'Titillium Web', sans-serif;
    @media (max-width: 767px) {
      width: 100%;
      padding: 30px;
      background-color: #fff;
      color: #000;
      font-size: 18px;
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      justify-content: center;

      &_text {
        padding: 20px 0;
      }
    }
    @media (min-width: 768px) {
      opacity: 0;
      transition: opacity 0.25s ease-in-out;
      -moz-transition: opacity 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out;
      background-color: transparent;
      width: 90%;
      z-index: 1002;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      &_text {
        padding-bottom: 0px;
      }
    }

    @media (min-width: 1200px) {
      font-size: 14px;
      width: 80%;
      &_text {
        padding-bottom: 20px;
      }
    }
    @media (min-width: 140px) {
      font-size: 18px;
    }
  }

  &_overlay {
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../../assets/images/diamond-texture-top.png'),
      url('../../assets/images/diamond-texture-bottom.png'),
      radial-gradient(
        circle,
        rgba(73, 182, 241, 1) 0%,
        rgba(20, 60, 171, 1) 100%
      );
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;

    opacity: 0;
  }
  &_texture {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    opacity: 0.1;
  }
}
