$footer-background: #fff;

.footer {
  background-color: $footer-background;
  width: 100vw;
  position: relative;
  bottom: 0;
  color: #000;
  padding: 10px 0;
  height: 100px;
  margin-top: -100px;
  clear: both;
  -webkit-box-shadow: 0px -3px 6px 5px rgba(0, 0, 0, 0.09);
  box-shadow: 0px -3px 6px 5px rgba(0, 0, 0, 0.09);

  // .row {
  //   background-color: $footer-background;
  //   text-align: center;
  //   margin: 0 auto;
  //   width: 100%;
  //   margin: 0 auto;
  // }
  .row {
    background-color: $footer-background;
    text-align: center;
    @media (min-width: 2201px) {
      margin: 0 auto;
      max-width: 2200px;
    }
  }

  .col-sm-12 {
    padding-top: 15px;
  }

  &_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_language {
    z-index: 3000;
  }

  &_copyright {
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 0;
    }
  }

  .codemasters-logo {
    width: 100px;
    margin-right: 20px;
  }

  .ea-sports-logo {
    width: 65px;
    margin-top: 2px;
  }

  .dropdown-toggle {
    span {
      img {
        margin-bottom: 2px;
      }
    }
  }

  @media (min-width: 992px) {
    .col-sm-12 {
      padding-top: 0px;
    }
    .footer_rating {
      display: flex;
      align-items: center;
      justify-content: center;
      // padding-right: 1rem;
      padding-left: 4rem;
    }
    .rating {
      padding-left: 5px;
    }
  }
}
