$footer-background: #fff;

.footer {
  background-color: $footer-background;
  width: 100%;
  position: relative;
  bottom: 0;
  color: #000;
  padding: 10px 0;
  height: 100px;
  margin-top: -100px;
  clear: both;
  -webkit-box-shadow: 0px -3px 6px 5px rgba(0, 0, 0, 0.09);
  box-shadow: 0px -3px 6px 5px rgba(0, 0, 0, 0.09);

  .row {
    background-color: $footer-background;
    text-align: center;
    @media (min-width: 2201px) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  .col-sm-12 {
    padding-top: 15px;
  }

  &_logo {
    @media (min-width: 992px) {
      img {
        transform: translateY(12px);
      }
    }
  }

  &_language {
    z-index: 3000;
  }

  &_copyright {
    font-size: 0.9rem;
    p {
      text-transform: uppercase;
      text-align: center;
      @media (min-width: 992px) {
        transform: translateY(29px);
      }
    }
  }

  .codemasters-logo {
    height: 63px;
    margin-right: 20px;
  }

  .ea-sports-logo {
    height: 63px;
  }

  @media (min-width: 992px) {
    .col-sm-12 {
      padding-top: 0px;
    }
    // .footer_logo {
    //   display: flex;
    //   align-items: center;
    // }
    .footer_rating {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: 4rem;
    }
    .rating {
      padding-left: 5px;
    }
  }
}
