.button {
  border: 5px solid;
  line-height: 50px;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin: 0 auto;
  width: 250px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  font-family: Formula1DisplayBold;
  padding: 0 10px;
  background-color: #000;
  color: #fff;
  border: 1px solid transparent;
  outline: 1px solid transparent;
  outline-offset: 4px;
  transition: background-color 0.25s ease-in-out;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: outline 0.25s ease-in-out;
  -moz-transition: outline 0.25s ease-in-out;
  -webkit-transition: outline 0.25s ease-in-out;

  &--ligth {
    border-color: #fff;
    color: #fff;
  }

  @media (min-width: 1024px) {
    line-height: 30px;
  }

  @media (min-width: 1400px) {
    line-height: 50px;
  }

  &:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    @media (min-width: 768px) {
      outline: 1px solid #fff;
      outline-offset: 4px;
    }
  }
}

// Only main feature button should have larger button during this media query
.home_feature {
  .tile {
    .button {
      @media (min-width: 1024px) {
        line-height: 50px;
      }
    }
  }
}
